body {
  font-family: Arial, sans-serif;
  background-image: url("ale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 20px;
}

.criteria {
  margin-bottom: 10px;
}

.criteria label {
  margin-left: 5px;
}

#scoreDisplay {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}

#successMessage {
  background-color: #fbfdfb;
  border: 1px solid #e9f1f4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
